Repository hootel/hootel, pull requests merged in 2018-11, with the labels that each got.

#57 [ADD] no_ota in massive changes wizard
  hotel_channel_connector/__manifest__.py
  hotel_channel_connector/models/hotel_room_type_availability/common.py
  hotel_channel_connector/wizard/inherited_massive_changes.py
  hotel_channel_connector/wizard/inherited_massive_changes.xml
Labels: m:hotel_channel_connector

#56 [IMP] Moved calendar settings to res.users model
  hotel_calendar/__manifest__.py
  hotel_calendar/models/__init__.py
  hotel_calendar/models/inherited_res_users.py
  hotel_calendar/models/ir_actions_act_window_view.py
  hotel_calendar/models/ir_default.py
  hotel_calendar/models/ir_ui_view.py
  hotel_calendar/models/res_config.py
  hotel_calendar/views/inherited_res_users_views.xml
  hotel_calendar/views/res_config_views.xml
Labels: m:hotel_calendar

#55 Refactoring for Odoo-Connector
  hotel_node_helper/models/inherited_hotel_room_type.py
  hotel_node_master/__init__.py
  hotel_node_master/__manifest__.py
  hotel_node_master/components/__init__.py
  hotel_node_master/components/backend_adapter.py
  hotel_node_master/components/binder.py
  hotel_node_master/components/core.py
  hotel_node_master/components/exporter.py
  hotel_node_master/components/importer.py
  hotel_node_master/components/mapper.py
  hotel_node_master/data/menus.xml
  hotel_node_master/models/__init__.py
  hotel_node_master/models/hotel_node.py
  hotel_node_master/models/hotel_node_group.py
  hotel_node_master/models/hotel_node_group_remote.py
  hotel_node_master/models/hotel_room_type/__init__.py
  hotel_node_master/models/hotel_room_type/common.py
  hotel_node_master/models/hotel_room_type/exporter.py
  hotel_node_master/models/hotel_room_type/importer.py
  hotel_node_master/models/node_backend/__init__.py
  hotel_node_master/models/node_backend/common.py
  hotel_node_master/models/node_binding/__init__.py
  hotel_node_master/models/node_binding/common.py
  hotel_node_master/tests/__init__.py
  hotel_node_master/tests/common.py
  hotel_node_master/tests/test_hotel_node_master.py
  hotel_node_master/views/hotel_node_group_remote.xml
  hotel_node_master/views/node_backend_views.xml
  hotel_node_master/wizards/wizard_hotel_node_reservation.py
  hotel_node_master/wizards/wizard_hotel_node_reservation.xml
Labels: m:hotel_node_master

#59 Fix import otas
  hotel_channel_connector/components/backend_adapter.py
  hotel_channel_connector/models/channel_ota_info/importer.py
  hotel_channel_connector/models/hotel_room_type_restriction_item/importer.py
Labels: m:hotel_channel_connector

#61 Fix travis
  hotel/__manifest__.py
  hotel/security/ir.model.access.csv
  hotel/security/ir.model.access.csv.old
  hotel/tests/test_hotel_room_type_model.py
  hotel_calendar/__manifest__.py
  hotel_calendar/data/records.xml
  hotel_channel_connector/__manifest__.py
  hotel_channel_connector/security/ir.model.access.csv
  hotel_node_master/models/hotel_node.py
  hotel_node_master/security/ir.model.access.csv
Labels: enhancement

#63 [IMP] Refactor & Export pricelist values
  hotel_channel_connector/components/exporter.py
  hotel_channel_connector/controllers/main.py
  hotel_channel_connector/models/channel_backend/common.py
  hotel_channel_connector/models/channel_ota_info/common.py
  hotel_channel_connector/models/channel_ota_info/importer.py
  hotel_channel_connector/models/hotel_room_type/common.py
  hotel_channel_connector/models/hotel_room_type/importer.py
  hotel_channel_connector/models/hotel_room_type_availability/common.py
  hotel_channel_connector/models/hotel_room_type_availability/exporter.py
  hotel_channel_connector/models/hotel_room_type_availability/importer.py
  hotel_channel_connector/models/hotel_room_type_restriction/common.py
  hotel_channel_connector/models/hotel_room_type_restriction/importer.py
  hotel_channel_connector/models/hotel_room_type_restriction_item/common.py
  hotel_channel_connector/models/hotel_room_type_restriction_item/exporter.py
  hotel_channel_connector/models/hotel_room_type_restriction_item/importer.py
  hotel_channel_connector/models/product_pricelist/common.py
  hotel_channel_connector/models/product_pricelist/importer.py
  hotel_channel_connector/models/product_pricelist_item/common.py
  hotel_channel_connector/models/product_pricelist_item/exporter.py
  hotel_channel_connector/models/product_pricelist_item/importer.py
  hotel_channel_connector/views/channel_connector_backend_views.xml
Labels: m:hotel_channel_connector

#64 Finalize Hotel Channel Connector
  hotel_channel_connector/__manifest__.py
  hotel_channel_connector/components/__init__.py
  hotel_channel_connector/components/backend_adapter.py
  hotel_channel_connector/components/core.py
  hotel_channel_connector/components/deleter.py
  hotel_channel_connector/components/importer.py
  hotel_channel_connector/controllers/main.py
  hotel_channel_connector/data/cron_jobs.xml
  hotel_channel_connector/models/channel_backend/common.py
  hotel_channel_connector/models/channel_binding/common.py
  hotel_channel_connector/models/channel_ota_info/common.py
  hotel_channel_connector/models/channel_ota_info/importer.py
  hotel_channel_connector/models/hotel_channel_connector_issue.py
  hotel_channel_connector/models/hotel_reservation/__init__.py
  hotel_channel_connector/models/hotel_reservation/common.py
  hotel_channel_connector/models/hotel_reservation/exporter.py
  hotel_channel_connector/models/hotel_reservation/importer.py
  hotel_channel_connector/models/hotel_room_type/__init__.py
  hotel_channel_connector/models/hotel_room_type/common.py
  hotel_channel_connector/models/hotel_room_type/deleter.py
  hotel_channel_connector/models/hotel_room_type/exporter.py
  hotel_channel_connector/models/hotel_room_type/importer.py
  hotel_channel_connector/models/hotel_room_type_availability/common.py
  hotel_channel_connector/models/hotel_room_type_availability/exporter.py
  hotel_channel_connector/models/hotel_room_type_availability/importer.py
  hotel_channel_connector/models/hotel_room_type_restriction/__init__.py
  hotel_channel_connector/models/hotel_room_type_restriction/common.py
  hotel_channel_connector/models/hotel_room_type_restriction/deleter.py
  hotel_channel_connector/models/hotel_room_type_restriction/exporter.py
  hotel_channel_connector/models/hotel_room_type_restriction/importer.py
  hotel_channel_connector/models/hotel_room_type_restriction_item/common.py
  hotel_channel_connector/models/hotel_room_type_restriction_item/exporter.py
  hotel_channel_connector/models/hotel_room_type_restriction_item/importer.py
  hotel_channel_connector/models/product_pricelist/__init__.py
  hotel_channel_connector/models/product_pricelist/common.py
  hotel_channel_connector/models/product_pricelist/deleter.py
  hotel_channel_connector/models/product_pricelist/exporter.py
  hotel_channel_connector/models/product_pricelist/importer.py
  hotel_channel_connector/models/product_pricelist_item/common.py
  hotel_channel_connector/models/product_pricelist_item/exporter.py
  hotel_channel_connector/models/product_pricelist_item/importer.py
  hotel_channel_connector/static/src/js/views/list/list_controller.js
  hotel_channel_connector/static/src/js/views/list/list_model.js
  hotel_channel_connector/static/src/js/views/list/list_view.js
  hotel_channel_connector/views/channel_connector_backend_views.xml
  hotel_channel_connector/views/channel_hotel_reservation_views.xml
  hotel_channel_connector/views/general.xml
Labels: m:hotel_channel_connector

#71 [ADD] get_room_type_planning
  hotel_node_helper/models/inherited_hotel_room_type.py
Labels: m:hotel_node_helper, performance
